#ladoE {
    width: 20%;
    height: 900px;
    background-color: rgb(31, 31, 43);
}

#fotocont {
    display: flex;
    justify-content: center;
}

#txtnome {
    font-size: 20px;
    color: firebrick;
    text-align: center;
}

#ftperf {
    height: 210px;
    width: 210px;
    padding: 10px;
    border-radius: 120px;
    border: firebrick 1px solid;
}

#contato h1 {
    font-size: 20px;
    color: firebrick;
}

#contato {
    font-size: 16px;
    padding-left: 10px;
    color: rgb(194, 194, 194);
}

#contato a {
    color: firebrick;
}

#contato a:hover{
    color: rgb(221, 49, 49);
}

#contatotxt {
    padding: 4px;
}

#iconcont {
    padding-right: 5px;
}

#espaço {
    padding: 6px;
}

#infosB {
    padding-top: 4px;
    padding-left: 10px;
    color: rgb(194, 194, 194);
}

#infosB h1 {
    font-size: 20px;
    color: firebrick;
}

#skills {
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(194, 194, 194);
}

#skills h1 {
    font-size: 20px;
    color: firebrick;
}

#estrelas {
    padding-bottom: 14px;
}

#espaçopy {
    padding: 2px;
}

#espaçopy2 {
    padding-bottom: 10px;
}

#txtpy {
    font-size: 14px;
}