@media (max-width: 800px){
    #contani {
       position: absolute;
        z-index: -1;
        /* background: linear-gradient( 0,#8a1818 ,#000000 ); */
        background: linear-gradient(0, #00093b , #000000);
        width: 100%;
        height: 1450px;
    }
    
    #corpo{
        display: contents;
        justify-content: center;
        text-align: center;
        max-width: 430px;
    }

    #ladoE{
        display: block;
        
        width: 100%;
        height: 610px;

        justify-content: center;
    }

    #ladoD{
        display: block;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        padding-top: 1px;
    }

    #box1{
        
        width: 95%;
        height: auto;
    }

    #box2{
        height: 300px;
        width: 95%;
        display: block;
        margin: 2%;
        
    }

    #box3{
        display: block;

        margin-left: 25%;
        margin-right: 25%;
        
    }
    #boxes{
        display: block;
        
    }
}

@media (min-width: 801px ) and (max-width: 1120px){
    
    #contani{
        position: absolute;
        z-index: -1;
        /* background: linear-gradient( 0,#8a1818 ,#000000 ); */
        background: linear-gradient(0, #00093b , #000000);
        width: 100%;
        height: 1275px;
    }

    #corpo{
        display: grid;
        place-items: center;
        text-align: center;
    }

    #ladoE{
        width: 80%;
    }

    #ladoD {
        padding-top: 1px;
        width: 80%;
        height: 100%;
        padding-bottom: 10px;
    }

    #box1{
        height: auto;
    }
}