body {
    font-family: 'Roboto Condensed', sans-serif;
    /* background: linear-gradient( 0,#8a1818 ,#000000 ); */
    background: linear-gradient(0, #00093b , #000000);
}

#contani {
    position: absolute;
    z-index: -1;
    /* background: linear-gradient( 0,#8a1818 ,#000000 ); */
    background: linear-gradient(0, #00093b , #000000);
    width: auto;
    height: auto;
}

#corpo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
