body {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient( 0,#991e1e ,#000000 );
}

#contani {
    position: absolute;
    z-index: -1;
    background: linear-gradient( 0,#991e1e ,#000000 );
    width: 1296px;
    height: 815px;
}

#corpo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
