body {
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient( 0,#991e1e ,#000000 );
}

#contani {
    position: absolute;
    z-index: -1;
    background: linear-gradient( 0,#991e1e ,#000000 );
    width: 1296px;
    height: 815px;
}

#corpo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#ladoE {
    width: 20%;
    height: 750px;
    background-color: rgb(31, 31, 43);
}

#fotocont {
    padding: 7.5px;
}

#ftperf {
    height: 210px;
    width: 210px;
    padding: 10px;
    border-radius: 120px;
    border: #b22222 1px solid;

}

#contato h1 {
    font-size: 20px;
    color: firebrick;
}

#contato {
    font-size: 16px;
    padding-left: 10px;
    color: rgb(194, 194, 194);
}

#contato a {
    color: firebrick;
}

#contatotxt {
    padding: 5px;
}

#ladoD {
    background-color: white;
    width: 65%;
    height: 750px;

}